Droid/Web References/au.com.sunhawk/Sunhawk_SP_svc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Sunhawk_SP_svc" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://student.mydesign.central.wa.edu.au/sunhawk_svc/Sunhawk_SP_svc.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://student.mydesign.central.wa.edu.au/sunhawk_svc/Sunhawk_SP_svc.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://student.mydesign.central.wa.edu.au/sunhawk_svc/Sunhawk_SP_svc.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
      <xsd:import schemaLocation="http://student.mydesign.central.wa.edu.au/sunhawk_svc/Sunhawk_SP_svc.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://student.mydesign.central.wa.edu.au/sunhawk_svc/Sunhawk_SP_svc.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/sunhawk_SP_svc" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISunhawk_SP_svc_checkConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:checkConnection" />
  </wsdl:message>
  <wsdl:message name="ISunhawk_SP_svc_checkConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="ISunhawk_SP_svc_testMethod_InputMessage">
    <wsdl:part name="parameters" element="tns:testMethod" />
  </wsdl:message>
  <wsdl:message name="ISunhawk_SP_svc_testMethod_OutputMessage">
    <wsdl:part name="parameters" element="tns:testMethodResponse" />
  </wsdl:message>
  <wsdl:message name="ISunhawk_SP_svc_addContact_InputMessage">
    <wsdl:part name="parameters" element="tns:addContact" />
  </wsdl:message>
  <wsdl:message name="ISunhawk_SP_svc_addContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:addContactResponse" />
  </wsdl:message>
  <wsdl:message name="ISunhawk_SP_svc_updateContact_InputMessage">
    <wsdl:part name="parameters" element="tns:updateContact" />
  </wsdl:message>
  <wsdl:message name="ISunhawk_SP_svc_updateContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateContactResponse" />
  </wsdl:message>
  <wsdl:message name="ISunhawk_SP_svc_getLatestDbVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:getLatestDbVersion" />
  </wsdl:message>
  <wsdl:message name="ISunhawk_SP_svc_getLatestDbVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:getLatestDbVersionResponse" />
  </wsdl:message>
  <wsdl:message name="ISunhawk_SP_svc_getLatestDb_InputMessage">
    <wsdl:part name="parameters" element="tns:getLatestDb" />
  </wsdl:message>
  <wsdl:message name="ISunhawk_SP_svc_getLatestDb_OutputMessage">
    <wsdl:part name="parameters" element="tns:getLatestDbResponse" />
  </wsdl:message>
  <wsdl:message name="ISunhawk_SP_svc_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="ISunhawk_SP_svc_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="ISunhawk_SP_svc_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="ISunhawk_SP_svc_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="ISunhawk_SP_svc">
    <wsdl:operation name="checkConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/ISunhawk_SP_svc/checkConnection" message="tns:ISunhawk_SP_svc_checkConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISunhawk_SP_svc/checkConnectionResponse" message="tns:ISunhawk_SP_svc_checkConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="testMethod">
      <wsdl:input wsaw:Action="http://tempuri.org/ISunhawk_SP_svc/testMethod" message="tns:ISunhawk_SP_svc_testMethod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISunhawk_SP_svc/testMethodResponse" message="tns:ISunhawk_SP_svc_testMethod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addContact">
      <wsdl:input wsaw:Action="http://tempuri.org/ISunhawk_SP_svc/addContact" message="tns:ISunhawk_SP_svc_addContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISunhawk_SP_svc/addContactResponse" message="tns:ISunhawk_SP_svc_addContact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateContact">
      <wsdl:input wsaw:Action="http://tempuri.org/ISunhawk_SP_svc/updateContact" message="tns:ISunhawk_SP_svc_updateContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISunhawk_SP_svc/updateContactResponse" message="tns:ISunhawk_SP_svc_updateContact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getLatestDbVersion">
      <wsdl:input wsaw:Action="http://tempuri.org/ISunhawk_SP_svc/getLatestDbVersion" message="tns:ISunhawk_SP_svc_getLatestDbVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISunhawk_SP_svc/getLatestDbVersionResponse" message="tns:ISunhawk_SP_svc_getLatestDbVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getLatestDb">
      <wsdl:input wsaw:Action="http://tempuri.org/ISunhawk_SP_svc/getLatestDb" message="tns:ISunhawk_SP_svc_getLatestDb_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISunhawk_SP_svc/getLatestDbResponse" message="tns:ISunhawk_SP_svc_getLatestDb_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/ISunhawk_SP_svc/GetData" message="tns:ISunhawk_SP_svc_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISunhawk_SP_svc/GetDataResponse" message="tns:ISunhawk_SP_svc_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/ISunhawk_SP_svc/GetDataUsingDataContract" message="tns:ISunhawk_SP_svc_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISunhawk_SP_svc/GetDataUsingDataContractResponse" message="tns:ISunhawk_SP_svc_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISunhawk_SP_svc" type="tns:ISunhawk_SP_svc">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="checkConnection">
      <soap:operation soapAction="http://tempuri.org/ISunhawk_SP_svc/checkConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testMethod">
      <soap:operation soapAction="http://tempuri.org/ISunhawk_SP_svc/testMethod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addContact">
      <soap:operation soapAction="http://tempuri.org/ISunhawk_SP_svc/addContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateContact">
      <soap:operation soapAction="http://tempuri.org/ISunhawk_SP_svc/updateContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLatestDbVersion">
      <soap:operation soapAction="http://tempuri.org/ISunhawk_SP_svc/getLatestDbVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLatestDb">
      <soap:operation soapAction="http://tempuri.org/ISunhawk_SP_svc/getLatestDb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/ISunhawk_SP_svc/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/ISunhawk_SP_svc/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Sunhawk_SP_svc">
    <wsdl:port name="BasicHttpBinding_ISunhawk_SP_svc" binding="tns:BasicHttpBinding_ISunhawk_SP_svc">
      <soap:address location="http://student.mydesign.central.wa.edu.au/sunhawk_svc/Sunhawk_SP_svc.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>